<tbody id="articles-list">
  <% articles.each do |article| %>
    <tr>
      <td><%= article.name %></td>
      <td><%= link_to 'Show', article ,class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %></td>
      <td><%= link_to 'Edit', edit_article_path(article), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %></td>
      <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %></td>
    </tr>
  <% end %>
</tbody>